# General Python ignores
build/
dist/
__pycache__/
__pypackages__/
.ipynb_checkpoints/
*.pyc
*~
*/.mypy_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# JavaScript
node_modules/

# Environments
.env
.python-version

# IDEs
.idea/
